section.footer {
  box-sizing: border-box;
  background: linear-gradient(rgba(241, 196, 15,0.8), rgba(241, 196, 15,0.9));
  width: 100vw;
  height: 30vw;
  font-family: 'Roboto';
  color: rgba(0,0,0,0.5);
  font-size: 4vw;
	font-weight: 400;
	letter-spacing: 0.1em;
	display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-left: 7vw;
  padding-right: 7vw;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin-top: 15vw !important;
  position: relative;
}

section.footer div.top-shadow {
  position: absolute;
  top: 0;
  left: 0 ;
  right: 0;
  width: 100%;
  height: 100px;
  box-shadow: inset 0 18px 20px -3px rgba(0,0,0,0.1);
}
