<div *ngIf='largeSize()'>
  <a *ngIf='!inSignInLink()' (click)="signIn.open()">Sign In</a>
  <a *ngIf='inSignInLink()'>Sign In</a>
  <!-- to not use modal dialog when user on mobile viewport -->
  <modal #signIn
        [hideCloseButton]="true"
        [closeOnEscape]='false  '>

    <modal-header id='signin-modal-header'>
      Sign in
    </modal-header>

    <modal-content>
      <app-signin-form></app-signin-form>
    </modal-content>

    <modal-footer>
    </modal-footer>

  </modal>
</div>
