<div class='filters-group row' id='filters'>
  <button type='button' class='btn btn-primary filter' id='all'>all</button>
  <button type='button' class='btn btn-primary filter' id='by-time'>by time</button>
  <input class='filter' type='text' id='hashtag' placeholder='filter by hashtags...'  />
</div>

<div class='container items-container' id='events-list'>
  <div class='row items-row'>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
  </div>
  <div class='row items-row'>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
  </div>
  <div class='row items-row'>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
    <div class='col-sm-3'>
      <div class='event-item'>item</div>
    </div>
  </div>
</div>
