<div class='filters-group row' id='filters'>
  <button type='button' class='btn btn-primary filter' id='all'>all</button>
  <button type='button' class='btn btn-primary filter' id='by-time'>by time</button>
  <input class='filter' type='text' id='hashtag' placeholder='filter by hashtags...'  />
</div>

<div class='container items-container' id='events-list'>

  <div class='row items-row' *ngIf='events.length > 0; else nothing'>
    <div class='col-sm-3' *ngFor='let event of events'>
      <div class='event-item' [routerLink]="'/events/id/'+ event._id"> {{event.name}} </div>
    </div>
  </div>

  <ng-template #nothing>
    <p id='search-failed'>
      <strong>Congratulation ! You found nothing (y) </strong>
    </p>
  </ng-template>

</div>
