<div class='search-bar'>

  <!-- add handle submit -->

  <form class='form-group' (ngSubmit)='search()'>
    <div class="inner-addon left-addon">
      <i class="glyphicon glyphicon-search" (click)='search()'></i>

<!-- ngModel for 2 ways databinding, instance variable
    query of the component will get update syncronously -->
      <input type="text"
             name='search'
             class="form-control"
             [(ngModel)]='query'
             placeholder="Search..." />
    </div>
  </form>

</div>
