<section class='category'>
  <header>
    <span>CATEGORIES</span>
  </header>
  <br />
  <br />
  <br />
  <div class='row'>
    <br />
    <div class='col-md-12'>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
      <div class='item'>
        <span>item</span>
      </div>
    </div>
  </div>
</section>
<hr />
