<div *ngIf='largeSize()'>
  <a *ngIf='!inSignUpLink()' (click)="signUp.open()">Sign Up</a>
  <a *ngIf='inSignUpLink()'>Sign Up</a>
  <!-- to not use modal dialog when user on mobile viewport -->
  <modal #signUp
        [hideCloseButton]="true"
        [closeOnEscape]='false  '>

    <modal-header id='signup-modal-header'>
      Sign up
    </modal-header>

    <modal-content>
      <app-signup-form></app-signup-form>
    </modal-content>

    <modal-footer>
    </modal-footer>

  </modal>
</div>
