div.modal-content {
  width: 30vw;
  top: 100px !important;
  border-radius: 2px !important;
}

#signup-modal-header {
  font-size: 20px !important;
  letter-spacing: 3px;
  line-height: 20px;
  color: rgba(50,50,50,1);
}
