<section class='events-profile'>

  <div class='container inner-wrap-events-profile'>

    <div class='utility-access'>
      <button class='new-event title' routerLink='/new-event' >Create Event</button>
      <button class='new-event title' (click)='friends.open()' >Friends</button>

      <modal #friends class='friends'>
        <modal-header> <h4> FRIENDS </h4> </modal-header>
        <modal-content>
          <ul>
            <li *ngFor='let friend of user.friends'>
              {{ friend }}
            </li>
          </ul>
        </modal-content>
        <modal-header></modal-header>
      </modal>

      <h3> Welcome, {{user.username}} </h3>
    </div>

    <div class='events-profile-display'>

      <div class='type-tabs'>

        <a class='active title' [ngClass]='{isActive: mode==="active"}' (click)='switchTab($event)'>
          active events
          <span class='count'>({{ filter("active").length }})</span>
        </a>
        <a class='hosted title' [ngClass]='{isActive: mode==="hosted"}' (click)='switchTab($event)'>
          hosted events
          <span class='count'>({{user.hosted_events.length}})</span>
        </a>
        <a class='joined title' [ngClass]='{isActive: mode==="joined"}' (click)='switchTab($event)'>
          joined events
          <span class='count'>({{user.joined_events.length}})</span>
        </a>
        <a class='saved title' [ngClass]='{isActive: mode==="saved"}' (click)='switchTab($event)'>
          saved events
          <span class='count'>({{user.saved_events.length}})</span>
        </a>

      </div>

      <div class='inner-search title'>
        <input type='text' placeholder="Search active/joined/host/saved event"/>
        <select>
          <option value='public'selected>Public</option>
          <option value='private'>Private</option>
        </select>
      </div>

      <div class='row events'>

        <div class='col-md-12'>

          <div class='events-list row'>

            <div [routerLink]="'/events/id/'+ event._id"
                 class='event-item'
                 *ngFor='let event of filter(mode)'>
              <div>
                {{ event.name }}
              </div>
            </div>

            <div class='message' *ngIf='filter(mode).length==0'>
              <div>
                There is nothing with this filter. So sad man.
              </div>
            </div>

          </div>

        </div>

        <!-- optional detail display when click on an event -->
        <!-- <div class='col-md-4 selected-event'>
          <div class='show-event'>
            haha
          </div>
        </div> -->

      </div>

    </div>

  </div>

</section>
