<section class='events-profile'>

  <div class='container inner-wrap-events-profile'>

    <div class='utility-access'>
      <button class='new-event title'>Create Event</button>
      <button class='new-event title'>Friends</button>
      <h3> Welcome {{user.username}} </h3>
    </div>

    <div class='events-profile-display'>

      <div class='type-tabs'>
        <a class='active title' href=''>active events  <span class='count'>(6)</span></a>
        <a class='title' href=''>joined events  <span class='count'>(6)</span></a>
        <a class='title' href=''>host events  <span class='count'>(6)</span></a>
        <a class='title' href=''>saved events  <span class='count'>(6)</span></a>
      </div>

      <div class='inner-search title'>
        <input type='text' placeholder="Search active/joined/host/saved event"/>
        <select>
          <option value='public'selected>Public</option>
          <option value='private'>Private</option>
        </select>
      </div>

      <div class='row events'>

        <div class='col-md-8'>

          <div class='events-list'>

            <div class='event-item'>
              <img style="height: 100%; width: 100%; object-fit: contain;"
                   src='http://i0.kym-cdn.com/photos/images/facebook/001/002/560/6fc.jpg'/>
            </div>
            <div class='event-item'>
              <img style="height: 100%; width: 100%; object-fit: contain;"
                   src='https://ih1.redbubble.net/image.264246449.9046/poster%2C210x230%2Cf8f8f8-pad%2C210x230%2Cf8f8f8.lite-1u1.jpg'/>
            </div>
            <div class='event-item'>
              <img style="height: 100%; width: 100%; object-fit: contain;"
                   src='http://media4.teenormous.com/items/ih2.redbubble.net/image.15357201.6708-fc-550x550-white.u1.jpg'/>
            </div>
            <div class='event-item'>
              <img style="height: 100%; width: 100%; object-fit: contain;"
                   src='https://ih0.redbubble.net/image.182315031.0265/flat,800x800,075,f.u1.jpg'/>
            </div>
            <div class='event-item'>
              <img style="height: 100%; width: 100%; object-fit: contain;"
                   src='http://i0.kym-cdn.com/photos/images/facebook/000/815/652/694.jpg'/>
            </div>

          </div>

        </div>

        <div class='col-md-4 selected-event'>
          <div class='show-event'>
            haha
          </div>
        </div>

      </div>

    </div>

  </div>

</section>
