@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto%20Slab:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);


/*start general style*/
body {
  margin: 0;
  background-color: rgba(236, 240, 241,1.0);
}

div#main-container {
  margin: 0 5%;
  background-color: white;
}

section.header, div.banner {
  background-color: rgba(241, 196, 15,0.8);
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/*end general style*/

/* start header seaction */

/* for header, both header (for all user) and header-user (when user log in) */

section.header {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100px;
}

nav.navbar-default {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: transparent;
  height: 100%;
  border: solid 0px white !important;
}

div.container-fluid {
  display: flex;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

div.container-fluid div.mobile-header {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 70vw;
  margin: 0 3% 0 3%;
  position: relative;
}

div.container-fluid div.mobile-header div.search-bar {
  left: 80px;
  position: absolute;
  margin: 0 6% 0 6%;
  height: 100%;
  width: 40%;
}

div.container-fluid div.mobile-header div.search-bar form {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

form div.left-addon {
  display: flex;
  flex-direction: row;
  position: relative;
}

form div.left-addon i {
  position: absolute;
  right: 0;
  margin: 30px 0 30px 0;
  font-size: 20px;
  padding: 10px;
  color: rgba(0,0,0,0.4);
}

div.container-fluid div.mobile-header div.search-bar input {
  height: 40px;
  width: 100%;
  margin: 30px 0 30px 0;
  border-radius: 2px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: 'Roboto';
  font-size: 15px;
  padding-left: 5%;
  font-style: italic;
  letter-spacing: 1px;
}

div.navbar-header {
  background-image: url('https://www.compart.com/files/compart/media/icons/event-color.svg') !important;
  background-size: cover;
  position: absolute;
  height: 80px;
  width: 80px;
  margin: 10px 0 10px 0;
  box-sizing: border-box;
}

.container-fluid button {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  background-color: white;
  box-sizing: border-box;
  margin: 25px 20px 25px 20px;
  border-radius: 0px;
  padding-left: 12.5px;
}

.container-fluid div#nav-collapse {
  position: absolute;
  right: 0;
  height: 100% !important;
  width: 45%;
  padding: 10px 0;
  box-sizing: border-box;
  margin: 0 5% 0 5%;
  font-size: 11px;
}

ul.nav {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-right: 0;
  padding: 20px;
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 15px;
  letter-spacing: 2px;
  color: black;
  text-transform: uppercase;
  display: flex;
  flex-direction: row-reverse;
}

.navbar-nav li {
  padding: 10px;
  box-sizing: border-box;
  margin: 0 10px;
  text-decoration: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255,1);
  text-align: center;
  font-size: 10px;
  display: table;
  line-height: 11px;
  border-radius: 2px;
  height: 100%;
  font-weight: bold;
}

.navbar-nav li:hover, .navbar-nav li:active, .navbar-nav li:focus {
  background: rgba(255,255,255,0.7);
  cursor: pointer;
}

app-signup, app-signin {
  display: table-cell;
  padding: 5px 0 5px 0;
  height: 100%;
  box-sizing: border-box;
  color: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
}

.navbar-nav li a {
  padding: 0;
  display: table-cell;
  height: 100%;
  box-sizing: border-box;
}

/*  end header section*/

/*start banner section*/
.banner {
  font-family: 'Roboto';
  color: rgba(0,0,0,0.8);
  font-size: 3em;
	font-weight: 300;
	letter-spacing: 0.1em;
	display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  height: 400px;
  padding-left: 7vw;
  padding-right: 7vw;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

div.bottom-shadow {
  position: absolute;
  bottom: 0;
  left: 0 ;
  right: 0;
  width: 100%;
  height: 100px;
  box-shadow: inset 0px -18px 20px -3px rgba(0,0,0,0.1);
}

/*end banner section*/

/* start general style for similar section of displaying events*/

section.category, section.hot-events {
  width: 100%;
}

section.category header, section.hot-events header {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.8em;
  letter-spacing: 0.15em;
  color: rgba(0,0,0,0.8);
  font-weight: lighter;
  margin-left: 15%;
  margin-right: 15%;
  position: relative;
  background-image: url('assets/line.gif');
  background-size: 100% 100%;
  height: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}


@media (max-width: 575px) {
  section.category header {
    font-size: 1.2em;
  }

  .banner {
    font-size: 2.5em;
  }
}

section .row {
  box-sizing: border-box;
  margin: 40px 15vw;
  font-family: 'Roboto';
}

/* start general style for similar section of displaying events*/

section .row .col-md-12 .item:hover, section .row .col-md-3 div:hover  {
  cursor: pointer;
}

@media (max-width: 767px) {
  section .row .col-md-12 .item {
    height: 120px;
    width: 120px;
  }
}

/* override modal default styling */

div.modal-content {
  border-radius: 2px;
}

div.modal-content div.modal-header {
  background-color: rgba(241, 196, 15,0.8);
}

  /* keep the scroll bar when display modals ( to not affect the general layout ) */
.modal-open {
  overflow: scroll;
}
